
<div class="recipe_display_container">
  <h2 class="recipe_name"><%= @recipe.name %></h2>	
  <div class="duo_space_between inline">
    <span class=" right">
      Preparation time:  <%= @recipe.prep_time %> hours
    </span>
    <span class=" left inline">
      <span>Public </span><div class="<%=  @recipe.public ?  "statut green" : " statut red" %>"></div>
    </span>
  </div>

  <span class="text_display">Cooking time : <%=  @recipe.cook_time %> Hours</span>
  <span class="text_display"><%=  @recipe.description %></span>
  <div class="duo_space_between">
   
    <%= link_to 'Generate shopping list', general_shopping_list_path(recipe_id: @recipe.id), class: "btn cbtn"%>
    <%= button_to 'Add Ingredient', new_recipe_food_path(user_id:@recipe.user_id ,recipe_id: @recipe.id), method: :get, class: "btn cbtn" %> 
  </div>
  <div class="separator"></div>
    <table class="table table-striped table-bordered  w-100">
      <thead>
        <tr>
          <th scope="col">Food</th>
          <th scope="col">Quantity</th>
          <th scope="col">Value</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
          <% @recipe_foods.each do |fd| %>
          <tr>
          <td><%= fd.food.name %></td>
          <td><%= fd.quantity %></td>
          <td><%= fd.food.price * fd.quantity %></td>
          <td class="d-flex  justify-content-center" > <%= button_to 'Delete',  recipe_food_path(recipe_id: @recipe.id, id: fd.id), method: :delete, class: "btn btn-danger" %> </td>
          </tr>
          <% end %>  
      </tbody>
    </table>
</div>