<div class="container d-flex justify-content-center mb-5" >
    <%= button_to 'Logout', destroy_user_session_path, method: :delete %>
</div>
<div class="container d-flex justify-content-center mb-5" >
  <button>Add Food</button>
</div>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">Food</th>
      <th scope="col">Measurement Unit</th>
      <th scope="col">Unit Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
      <% @user_foods.each do |food| %>
      <tr>
      <td><%= food.name %></td>
      <td><%= food.measurement_unit %></td>
      <td><%= food.price %></td>
      <td><%= food.quantity %></td>
      <td> <a href="http://">Delete</a> </td>
      </tr>
      <% end %>  
  </tbody>
</table>