<h1>Add Food to Recipe <%=current_user&.name%></h1>

<% if flash[:error] %>
  <div class="alert alert-danger"><%= flash[:error] %></div>
<% end %>
<%= form_with model: @recipe_food,  method:"post", url: recipe_foods_path(recipe_id: params["recipe_id"]) , html: { class: 'form-horizontal p-5 w-30' } do |form| %>
  <div class="form-group">
    <%= form.label :name, class: 'form-label' %>
    <div class="mb-3">
      <%= form.select :food_id, @foods.map { |food| [food.name, food.id]} ,style: "width: 100%" %>
    </div>
  </div>
  <div class="form-group">
    <%= form.label :quantity, 'Quantity',class: 'form-label' %>
    <div class="mb-3">
      <%= form.number_field :quantity, step: 0.1, autofocus: true %>
    </div>
  </div>
  <div class="form-group">
    <div class="d-flex justify-content-center">
      <%= form.submit "Add to Recipe", class: 'btn btn-primary mt-4' %>
    </div>
  </div>
<% end %>